aside{width: 20%;float: right;margin:25px;padding: 15px;border: rgb(216, 215, 215) solid;border-radius: 16px}
ol li{list-style: disc;font-family: serif;font-size: 12px;line-height: 20px;}
.container .inner .cont .cont_1{padding:10px 25px;text-align: left;}
h2{text-align: center;}